<h1>Add calculated fields</h1>

<form [formGroup]="form">
<div>
<mat-form-field appearance="fill" style="width: 50%; display: inline-block;">
  <mat-label>Tables</mat-label>

  <mat-select (valueChange)="updateInfo($event)" placeholder="Select table" formControlName="table">
    <ng-container *ngIf="table$ | async as tables">
    <mat-option title="{{table.class}}" *ngFor="let table of tables" [value]="table.name">
      {{table.name}}
    </mat-option>
  </ng-container>
  </mat-select>

</mat-form-field>
</div>

<div>

  <mat-form-field style="width: 50%; display: inline-block;">
    <mat-label>Calculated fields</mat-label>
    <textarea matInput formControlName="fields" (keyup.enter)="save()"></textarea>
    <!--      <mat-icon matSuffix>person</mat-icon>-->
    <!--      <mat-hint align="end">min 2 characters</mat-hint>-->
    <mat-hint>field name | type | formula</mat-hint>
  </mat-form-field>
</div>

<div>
  <br>
  <button mat-raised-button (click)="save()">Save</button>
</div>
</form>
