.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.blue {
  color: blue;
}

.size_06 {
  font-size: 0.6rem;
}

.underline {
  text-decoration: underline;
}

.size_12 {
  font-size: 1.2rem;
}

.size_02 {
  font-size: 0.2rem;
}