<h1>{{fullTitle}}</h1>

<div *ngIf="displayedFields && model$ | async as model; else loading">
  <div style="margin-bottom: 1em;">
    <button mat-raised-button [routerLink]="['../../list']" title="Show all entries">Index</button>
    <button mat-raised-button [routerLink]="['../../create']" title="Create similar entry">New</button>
    <button class="mat-fab-bottom-right" color="accent" mat-fab [routerLink]="['../../update', model['id']]" title="Edit this entry"><mat-icon>edit</mat-icon></button>
  </div>

  <h4>Agreement</h4>

  <button title="Email Draft Agreement" mat-button mat-fab (click)="sendPdf(model)" color="primary"><mat-icon>email</mat-icon></button>&nbsp;&nbsp;
  Email Draft Agreement
  <br>

  <a title="Download Draft Agreement" disabled href="{{htmlLink}}{{model.id}}" mat-button mat-fab><mat-icon>picture_as_pdf</mat-icon></a>&nbsp;&nbsp;
  Download Draft Agreement PDF
  <br>

    <a title="Show Draft Agreement" href="{{htmlLink}}{{model.id}}" mat-button mat-fab target="_blank"><mat-icon>subject</mat-icon></a>&nbsp;&nbsp;
    Show Draft Agreement
  <br>

  <h4>Progress Report</h4>

  <button title="Email Progress Report" mat-button mat-fab (click)="sendStatusReport(model)" color="primary"><mat-icon>email</mat-icon></button>&nbsp;&nbsp;
  Email Progress Report
  <br>

  <a title="Show Progress Report" href="{{htmlLinkStatusReport}}{{model.id}}" mat-button mat-fab><mat-icon>subject</mat-icon></a>&nbsp;&nbsp;
  Show Progress Report
  <br>
  <br>
  <br>

  <button title="Set as Signed and Saved" mat-button mat-fab (click)="setSigned(model)" color="primary"><mat-icon>check</mat-icon></button>&nbsp;&nbsp;
  Set as <i>Signed &amp; Saved</i><br>

  <table>
    <tbody>
    <ng-container *ngFor="let row of displayedFields">
      <tr>
        <th scope="row" style="text-align: right; padding: 1.5em 1em">{{row | appWordize}}</th>
        <td style="border-bottom: 1px solid lightgray; padding: 1.5em 0.5em;">
          <ng-container *ngIf="model[row] && model[row].id; else simple">
            <mat-chip-list>
              <mat-chip routerLink="/person/view/{{model[row].id}}">
                {{decorate(model[row])}}
              </mat-chip>
            </mat-chip-list>
          </ng-container>
          <ng-template #simple>
            <ng-container *ngIf="row == 'image'; else textual">
              <img src="http://localhost:8083/drive/{{model[row]}}" alt="{{model[row]}}" style="
  max-width: 100px;
  max-height: 100px;"/>
            </ng-container>
            <ng-template #textual>
              {{decorate(model[row])}}
            </ng-template>
          </ng-template>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>

  <app-code-sample *appHasRole="'Admin'" [code]="lastRes | json"></app-code-sample>

<!--  <div *appHasRole="'Admin'">-->
<!--    <h1>Values as JSON</h1>-->
<!--    <button color="accent" mat-raised-button appCopyClipboard="{{astRes | json}}"><mat-icon>code</mat-icon> Copy to clipboard</button>-->
<!--    <div>-->
<!--      <textarea disabled cols="100" rows="10" >{{lastRes | json}}</textarea>-->
<!--    </div>-->
<!--  </div>-->
</div>

<ng-template #loading>
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</ng-template>
